.me{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    & img{
        width: 100%;
    }
    margin-bottom: 1rem;
    & h2{
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
    }
}

.post{
    margin-top: 0.5rem;
    border-bottom: 1px solid #abc;
}

.ava{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border:3px solid black ;
}

.name{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 500;
    font-style: italic;
}