body{
  margin: 0;
  background: #123;
}
.container{
  max-width: 1200px;
  margin: 20px auto;
  height: calc(100vh - 40px);
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows:100px auto ;
  grid-template-areas: "h h"
  "n c";
  gap: 20px;
}

.container>*{
  background-color: #89d;
  color:white;
  padding: 15px;
  border-radius: 10px;
}

header{
  grid-area: h;
}

nav{
  grid-area: n;
}

.content{
  grid-area: c;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(115, 129, 185) rgba(117, 131, 187, 0);
}